// Base Colors
$background-color: #111;
$white: white;
$eastern-blue: #1b8a9a;
$mercury: #e6e6e6;
$pomegranate: #f02d34;
$silver: #cccbcb;
$silver-chalice: #9d9d9d;
$ebony-clay: #2c303f;
$bright-sun: #ffc748;
$cod-gray: #0b0a0a;
