@import "styles/variables";

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  color: $white;
  padding: 1.875rem;

  .icons {
    font-size: 1.875rem;
    display: flex;
    gap: 0.625rem;
  }
}
