@import "styles/variables";

.navbar {
  height: 3.75rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );

  .logo {
    img {
      width: 0.9375rem;
      height: 0.9375rem;
      margin-right: 0.3125rem;
    }
    a {
      text-decoration: none;
      color: $eastern-blue;
      font-weight: 600;
    }
  }

  .navbar__wishlist-icon {
    &:hover {
      transform: scale(1.1, 1.1);
    }

    position: relative;
    font-size: 1.875rem;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform 0.4s ease;

    .navbar__wishlist-item-qty {
      position: absolute;
      top: -2px;
      right: -0.6875rem;
      font-size: 0.8125rem;
      color: $white;
      background-color: $pomegranate;
      width: 1.5rem;
      border-radius: 50%;
      text-align: center;
      font-weight: 600;
      padding: 0.25rem;
    }
  }
}
