.navbar {
  height: 60px;
  color: white;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );

  .logo {
    img {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }

  .navbar__wishlist-icon {
    &:hover {
      transform: scale(1.1, 1.1);
    }

    font-size: 30px;
    color: white;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
    border: none;
    background-color: transparent;

    .navbar__wishlist-item-qty {
      position: absolute;
      right: -8px;
      font-size: 14px;
      color: #eee;
      background-color: #f02d34;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      font-weight: 600;
    }
  }
}
