@import "styles/mixins";

.row {
  margin-left: 1.25rem;
  color: $white;

  h3 {
    @include h3-common-styles;
  }

  .row__posters {
    &::-webkit-scrollbar {
      display: none;
    }
    display: flex;
    overflow-x: scroll;
    padding: 1.25rem;

    .row__poster {
      position: relative;
      width: 9.375rem;
      margin-right: 0.625rem;
      cursor: pointer;
      transition: transform 450ms;
      &.row__poster:hover {
        transform: scale(1.2);
        .row__poster--overlay {
          display: block;
        }
      }

      img {
        width: 9.375rem;
        object-fit: contain;
      }

      .row__poster--overlay {
        position: absolute;
        top: 0;
        display: none;
        width: 9.375rem;
        height: -webkit-fill-available;
        line-height: 13.75rem;
        text-align: center;
        font-size: 1.3rem;
        color: $white;
        outline: none;
        border: none;
        font-weight: 500;
        background-color: rgba(51, 51, 51, 0.5);
        transition: all 450ms;
      }
    }
  }
}
